  <% provide(:title, "Hello #{@user.name}") %>


  <p>Email : <%= @user.email %></p>
  <p>Admin: <%= @user.admin ? 'true' : 'false' %></p>

<%= link_to "Edit User", edit_user_path(@user) %>, 
<%= link_to "Delete User", user_path(@user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>